* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: #e8e4c9;
}

header {
  width: 100%;
  height: 80px;
  background: #11101b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  color: #fefefe;
}

.random {
  display: none;
}

/* Navigation CSS */
.nav-bar ul {
  display: flex;
}

.nav-bar ul li a {
  display: block;
  color: #fefefe;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
}

.nav-bar ul li a:hover {
  color: #11101b;
  background: #fefefe;
}

.nav-bar ul li a.active {
  color: #11101b;
  background: #fefefe;
}

/* Responsive Screen */
@media only screen and (max-width: 1320px) {
  header {
    padding: 0 50px;
  }
}

@media only screen and (max-width: 1100px) {
  header {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 1320px) {
  .random {
    display: block;
    cursor: pointer;
  }

  .random .line {
    width: 30px;
    height: 3px;
    background: #fefefe;
    margin: 6px 0;
  }

  .nav-bar {
    height: 0;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background: #11101b;
    transition: 0.2s;
    overflow: hidden;
  }

  .nav-bar.active {
    height: 400px;
  }

  .nav-bar ul {
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }

  .nav-bar.active ul {
    opacity: 1;
  }
  .nav-bar ul li a {
    margin-bottom: 12px;
  }
}

/* General css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}
/* Main css */
.container-8 {
  display: flex;
}

.profile-pic {
   width: 400px;
  height: 400px;
  border-radius: 50%;
  margin-bottom: 20px;
  background-image: url("https://scontent-cdg4-2.xx.fbcdn.net/v/t39.30808-6/328052343_556011443123401_3820500266946945157_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=174925&_nc_eui2=AeFjXPT0ubfmPdUUIXFB9c-IqYVLv89htOyphUu_z2G07CyjamJYfiZiteh80ByJkmERl4f5pSVGzsIvEGoQAv4h&_nc_ohc=T9h9EvBKBMsAX9sojr3&_nc_ht=scontent-cdg4-2.xx&oh=00_AfDAk2zl3TaVQ2SK5AVn4WwkmoB_cYgjx_O3-3ytB6g19w&oe=643B95F4");
  background-position: center;
  background-size: cover;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}


.profile-pic-pic1{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
  background-image: url("https://scontent-cdg4-2.xx.fbcdn.net/v/t39.30808-6/328052343_556011443123401_3820500266946945157_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=174925&_nc_eui2=AeFjXPT0ubfmPdUUIXFB9c-IqYVLv89htOyphUu_z2G07CyjamJYfiZiteh80ByJkmERl4f5pSVGzsIvEGoQAv4h&_nc_ohc=T9h9EvBKBMsAX9sojr3&_nc_ht=scontent-cdg4-2.xx&oh=00_AfDAk2zl3TaVQ2SK5AVn4WwkmoB_cYgjx_O3-3ytB6g19w&oe=643B95F4");
  background-position: center;
  background-size: cover;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}

.profile-pic-2 {
 width: 400px;
  height: 400px;
  border-radius: 50%;
  margin-bottom: 20px;
  background-image: url("https://scontent-cdg4-1.xx.fbcdn.net/v/t39.30808-6/321992975_851176772830527_7492261547739738004_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=174925&_nc_eui2=AeEMcElqMmfqh48hcxh2HC7-lDYB4-LvBKWUNgHj4u8Epfu7oldDIBsZDpx5XpUEzBQQDB2K_JUG8-1VWEWn5WHr&_nc_ohc=9_5_qbAtSBYAX8UXbjB&_nc_ht=scontent-cdg4-1.xx&oh=00_AfBjqqMx7_1fHG6rkeaf5KF983bOWlc0qM2IoyNkeROG9w&oe=643C6AEF");
  background-position: center;
  background-size: cover;
  cursor: pointer;
  display: inline-block;
}

.profile-pic-pic2{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
  background-image: url("https://scontent-cdg4-1.xx.fbcdn.net/v/t39.30808-6/321992975_851176772830527_7492261547739738004_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=174925&_nc_eui2=AeEMcElqMmfqh48hcxh2HC7-lDYB4-LvBKWUNgHj4u8Epfu7oldDIBsZDpx5XpUEzBQQDB2K_JUG8-1VWEWn5WHr&_nc_ohc=9_5_qbAtSBYAX8UXbjB&_nc_ht=scontent-cdg4-1.xx&oh=00_AfBjqqMx7_1fHG6rkeaf5KF983bOWlc0qM2IoyNkeROG9w&oe=643C6AEF");
  background-position: center;
  background-size: cover;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}

/* main page css */
.btn {
  padding: 10px 20px;
  background-color: #6f4e37;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  background-color: #7e5233;
}

.btn-1 {
  display: inline-block;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  border-radius: 5px;
}

/* page 8 css */
.h1 {
  justify-content: center;
  text-align: center;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.social-links a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.social-links a:hover {
  transform: scale(1.2);
}

.social-links a i {
  color: #000;
  font-size: 24px;
}

.social-links .facebook i {
  color: #3b5998;
}

.social-links .twitter i {
  color: #1da1f2;
}

.social-links .instagram i {
  color: #c13584;
}

.social-links .linkedin i {
  color: #0077b5;
}
/* Contack info */
address {
  font-style: normal;
  margin-bottom: 20px;
}

address p {
  margin: 0;
  line-height: 1.5;
}

address a {
  color: blue;
  text-decoration: none;
}

address a:hover {
  text-decoration: underline;
}

/* page 2 css */
.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* page 7 css */

header {
  background-color: #e0a174;
  color: #fff;
  padding: 20px;
}

h1 {
  margin: 0;
}

.section {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

h2,
h3,
h4 {
  color: #3a2618;
}

img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

p {
  margin: 0;
  justify-content: center;
  display: flex;
}

/* buttons next and prev */

.button-container {
  text-align: center;
}

.prev-button,
.next-button {
  background-color: #6f4e37;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.prev-button:hover,
.next-button:hover {
  background-color: #613c22;
}

a {
  text-decoration: none;
}

/* page 3 css */

.card {
  border: 2px solid #2c3e50;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 30px;
  background-color: #fff;
  color: #2c3e50;
  font-size: 16px;
  font-family: Arial, sans-serif;
}
